{% extends 'core/base.html' %}
{% load static %}
{% block title %}{{page.title}}{% endblock %}
{% block content %}
<style>.servicio-detalle{margin:auto;display:block;padding-top:.4rem;padding-bottom:.4rem}
.servicio-data{padding-left:4.5rem;padding-top:.4rem;}</style>

<main role="main">
  <div class="container">
    <h2 class="section-heading mb-4">{{servicio.nombre}} - ({{servicio.tiposervicio}} - {{servicio.provincia}})</h2>
    <div class="row">
      <div class="col-sm-4" style="background-color:yellow;">
        <img src="{{servicio.foto.url}}" class="img-fluid servicio-detalle">
      </div>
      <div class="col-sm-8" style="background-color:pink;">
        {{servicio.descripcion|safe}}
        {% if servicio.link %}
          <p><a href="{{servicio.link}}" target="_blank">{{servicio.link}}</a></p>
        {% endif %}
        {% if request.user.id == servicio.usuario.id %}
          <p><a href="{% url 'servicios:update' servicio.id %}">Editar</a></p>
        {% endif %}
      </div>
    </div>
  </div>
</main>
{% endblock %}
