{% extends 'core/base.html' %}
{% load static %}
{% block title %}Servicios{% endblock %}
{% block content %}
<style>.servicio-avatar{margin:auto;display:block;width:12rem;height:12rem;padding-top:.4rem}
.servicio-data-list{
  line-height: 1; text-align:center; 
  box-shadow: 5px 5px 5px 0px rgba(97,96,95,1); background-color:silver;}
.servicio-filtros{line-height: 1; box-shadow: 5px 5px 5px 0px rgba(97,96,95,1); background-color:white;}
</style>

<main role="main" >
  <div class="container mb-4" style="font-size:14px">
    <div class="row mt-1">
      <div class="col-md-2" > <!--Filtros-->
        <div class="row">
          <div class="col-md-12" style="background-color:silver;">
            <b style="font-size:16px">FILTROS</b>
          </div>
        </div>
        <form action="" method="get">
          <div class="row">
            <div class="form-group col-sm-4 col-md-3">
              {{ filter.form.usuario.label_tag }}
              {{ filter.form.usuario}}
            </div>
          </div>
          <div class="row">
            <div class="form-group col-sm-4 col-md-3">
              {{ filter.form.provincia.label_tag }}
              {{ filter.form.provincia}}
            </div>
          </div>
          <div class="row">
            <div class="form-group col-sm-4 col-md-3">
              {{ filter.form.tiposervicio.label_tag }}
              {{ filter.form.tiposervicio}}
            </div>
          </div>
          <!--{{ filter.form.as_p }}-->
          <button type="submit" class="btn btn-primary">
            <span class="glyphicon glyphicon-search"></span> Buscar
          </button>
          <p></p>
          </form>
          {% if request.user.is_authenticated %}
          <div class="row mb-2" style="background-color:silver;">
            <div class="col-sm-4 col-md-3" >
              <b style="font-size:16px">FUNCIONES</b>
            </div>
          </div>
          <div class="row mb-2">
            <div class="col-sm-4 col-md-3">
              <a class="btn btn-primary" href="{% url 'servicios:create' %}"><i>Añadir servicio</i></a>
            </div>
          </div>
          {% endif %}
      </div> <!--Filtros-->
      <div class="col-md-10 mx-auto"> <!--Datos-->
        <div class="row">
          <div class="col-md-12" style="background-color:silver; text-align:center;">
            <b style="font-size:16px">Se encontraron {{ page_obj.paginator.count }} servicios</b>
          </div>
        </div>
        <div class="row"> <!--Paginación-->
          <div class="col-md-12">
            {% include 'core/includes/paginacion.html' %}
          </div>
        </div> <!--Paginación-->
        <div class="row">
          {% for servicio in object_list|dictsort:"id" reversed %}  <!--Nombre del objeto a recorrer en la lista-->
            <div class="col-md-3 mt-2 mb-3 ">
              <div class="row p-1" >
                <div class="col-md-12 servicio-data-list" >
                  {% if servicio.foto %}
                    <!--<p>FOTO SI</p>-->
                    <img src="{{servicio.foto.url}}" class="img-fluid servicio-avatar">
                  {% else %}
                    <p>FOTO NO</p>
                  {% endif %}
                  <h3 class="mb-3">{{servicio.nombre}}</h3>
                  <p>{{servicio.tiposervicio}}</p>
                  <p><a href="{% url 'servicios:servicio' servicio.id servicio.nombre|slugify %}">Leer más</a>
                  {% if request.user.id == servicio.usuario.id %}
                    | <a href="{% url 'servicios:update' servicio.id %}">Editar</a>
                    | <a href="{% url 'servicios:delete' servicio.id %}">Borrar</a>
                  {% endif %}
                  </p> 
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div> 
  </div>
</main>
{% endblock %}
