{% extends 'core/base.html' %}
{% load static %}
{% block title %}{{page.title}}{% endblock %}
{% block content %}
<style>.perro-detalle{margin:auto;display:block;padding-top:.4rem;padding-bottom:.4rem}
.perro-data{padding-left:4.5rem;padding-top:.4rem;}</style>

<main role="main">
  <div class="container">
    <h2 class="section-heading mb-4"><strong>{{perro.nombre}} ({{perro.nacimiento}}) - {{perro.usuario}} - {{perro.provincia}}</strong></h2>
    <div class="row">
      <!--<div class="col-sm-4" style="background-color:yellow;">-->
      <div class="col-sm-4">
        <img src="{{perro.foto.url}}" class="img-fluid perro-detalle">
      </div>
      <!--<div class="col-sm-8" style="background-color:pink;">-->
      <div class="col-sm-8">
        <p><i>Actualizado: {{perro.updated|date:"d-m-Y"}}</i></p>
        <p>{{perro.get_sexo_display}} - {{perro.color}} - {{perro.raza}} - {{perro.size}} ({{perro.get_size_display}})</p>
        <p>{{perro.descripcion|safe}}</p>
        {% if perro.link %}
          <p><br>Contacto: <a href="{{perro.link}}" target="_blank">{{perro.link}}</a></p>
        {% endif %}
        {% if request.user.id == perro.usuario.id %}
          <p><a href="{% url 'perros:update' perro.id %}">Editar</a></p>
        {% endif %}
      </div>
    </div>
  </div>
</main>
{% endblock %}
