{% extends 'core/base.html' %}
{% load static %}
{% block title %}Inicio{% endblock %}
{% block content %}
<div class="container">
  <div style="padding-top:50px; text-align:center;">
    <h1>{{title}}</h1>
    <p class="lead">El mejor buscador de España</p>
    <p class="lead">Perros, Eventos, Servicios y Noticias</p>
    <p class="lead">(Fase Beta-tester)</p>
    <p>Para participar contacta en <a href="mailto:campushomocanis@gmail.com">campushomocanis@gmail.com</a></p>
  </div>
</div>
{% endblock %}