{% extends 'core/base.html' %}
{% load static %}
{% block title %}{{page.title}}{% endblock %}
{% block content %}
<style>.noticia-detalle{margin:auto;display:block;padding-top:.4rem;padding-bottom:.4rem}
.noticia-data{padding-left:4.5rem;padding-top:.4rem;}</style>

<main role="main">
  <div class="container">
    <h2 class="section-heading mb-4">{{noticia.nombre}}</h2>
    <div class="row">
      <div class="col-sm-4">
        <img src="{{noticia.foto.url}}" class="img-fluid noticia-detalle">
      </div>
      <div class="col-sm-8">
        <p>{{noticia.provincia}} - {{noticia.fechaNoticia}}</p>
        <p>{{noticia.descripcion|safe}}</p>
        {% if noticia.link %}
          <p>Más info: <a href="{{noticia.link}}" target="_blank">{{noticia.link}}</a></p>
        {% endif %}
        {% if request.user.id == noticia.usuario.id %}
          <p><a href="{% url 'noticias:update' noticia.id %}">Editar</a></p>
        {% endif %}
      </div>
    </div>
  </div>
</main>
{% endblock %}
